<hr />

<h2>Found: {{ vm.count }} Customers(s)</h2>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchCustomer">
        </div>
    </div>
</form>

<div class="panel panel-primary">
    <div class="panel-heading">Customers</div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>
                        <a href="#/" ng-click="vm.sortData('FirstName');">
                            First Name
                            <span ng-show="vm.sortType == 'FirstName' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'FirstName' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/" ng-click="vm.sortData('Surname');">
                            Surname
                            <span ng-show="vm.sortType == 'Surname' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'Surname' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/" ng-click="vm.sortData('Email');">
                            Email
                            <span ng-show="vm.sortType == 'Email' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'Email' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/" ng-click="vm.sortData('Phone');">
                            Phone
                            <span ng-show="vm.sortType == 'Phone' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'Phone' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tr ng-repeat="item in vm.pagedCustomers | orderBy:vm.sortType:vm.sortReverse | filter:searchCustomer">
                <td>{{ item.FirstName }}</td>
                <td>{{ item.Surname }}</td>
                <td>{{ item.Email }}</td>
                <td>{{ item.Phone }}</td>
                <td><a ng-href="#/editCustomer/{{ item.CustomerId }}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>


<pagination ng-model="vm.currentPage"
            total-items="vm.customers.length"
            max-size="vm.maxSize"
            boundary-links="true">
</pagination>
